//- --------------------------------------------------------------------------
//- Footer
//- --------------------------------------------------------------------------

.container
	.row.footer__main
		.col-lg-2.footer__col
			img(src="images/logo-icon.svg", alt="")
		.col-6.col-lg-2.footer__col
			.footer__title Explore
			ul.footer__menu
				li
					a(href="#") Platform
				li
					a(href="#") Solutions
				li
					a(href="#") Resources
				li
					a(href="#") Careers
				li
					a(href="#") About
		.col-6.col-lg-2.col-lg-2--mod-mini.footer__col
			.footer__title Contact
			ul.footer__menu
				li
					a(href="#") Sales
				li
					a(href="#") Media
		.col-lg-2.col-lg-2--mod-large.footer__col
			.footer__title Resources
			ul.footer__menu
				li
					a(href="#") Cyber-physical IDS
				li
					a(href="#") Cyber-security Research
		.col-lg-2.footer__col
			.footer__title United Kingdom
			.footer__info 18 King William Street
				br
				| Candlewick, 
				br
				| London, EC4N 7B
				br
				| +44 (0) 20 330 1621
		.col-lg-2.footer__col
			.footer__title Netherlands
			.footer__info Kastanjelaan 400,
				br
				| Eindhoven, 5616 LZ
				br
				| +31 (0) 40 785 9561
	
	.row.footer__bottom
		.col-lg-5.text-right-lg.order-lg-2
			ul.socials
				li
					a(href="#" target="_blank").btn
						+sprite('linkedin')
				li
					a(href="#" target="_blank").btn
						+sprite('twitter')
				li
					a(href="#" target="_blank").btn
						+sprite('facebook')
				li
					a(href="#" target="_blank").btn
						+sprite('youtube')
				li
					a(href="#" target="_blank").btn
						+sprite('rss')
		.col-lg-7.footer__bottom-section
			.footer__bottom-copyright © Copyright 2021 Exalens. All Rights Reserved.
			ul.footer__bottom-menu
				li
					a(href="#") Privacy
				li
					a(href="#") Terms
				li
					a(href="#") Cookie Policy

