//- --------------------------------------------------------------------------
//- Colors
//- --------------------------------------------------------------------------

$gray: #1F1F24;
$gray2: #18181b;
$gray3: #29292e;
$gray4: #303036;
$gray-light: #717180;
$gray-light2: #5e5e6c;
$gray-light3: #eaeaea;
$gray-light4: #73737e;
$gray-light5: #2e2e33;
$gray-light6: #72727f;
$white: #fff;
$white2: #fcfcfe;
$orange: #f06938;
$orange-light: #ffe9e1;
$orange-light2: #ff7847;