extends includes/_app

block head

	- var title = 'Cybersecurity research - Cyberlens';
	- var pageClass = 'is-page-main';


block main
	
	.top-page
		.container

			.row.info-block
				.col-md-6
					.info-block__bar
						a(href="#").news-category Whitepaper
						span.news__item-date 10 March 2021
					h2 SDN-microSENSE project kick-off meeting in Seville, Spain
					.text-desc
						p CyberLens participated to the kick-off meeting of SDN-microSENSE project held in Seville on 4-5 June 2019, being actively engaged to the development of a secure…
					div
						a(href="#").link-more Learn More
							+sprite('arrow-right-circle-orange')
				.col-md-6.info-block__img.info-block__img--border-radius
					img(src="images/resources.jpg", alt="" srcset="images/resources@2x.jpg 2x")

	.section-white
		.tabs-menu
			.container
				ul.tabs-menu__list
					li.current
						a(href="#") All Topics
					li
						a(href="#") News
					li
						a(href="#") Datasheet
					li
						a(href="#") Videos
					li
						a(href="#") Blog
					li
						a(href="#") Whitepaper
	
		.container.section-default.news.news--mod-offset
			.row.news__row
				.col-12.col-md-6.col-lg-4
					.news__item
						a(href="#").news__item-img
							img(src="images/news-img-1.jpg", alt="" srcset="images/news-img-1@2x.jpg 2x")
						.news__item-main
							.news__item-bar
								a(href="#").news-category Whitepaper
								span.news__item-date 10 March 2021
							h4
								a(href="#") SDN-microSENSE project kick-off meeting in Seville, Spain
							.news__item-desc
								p CyberLens participated to the kick-off meeting of SDN-microSENSE project held in Seville on 4-5 June 2019, being actively engaged to the development of a secure, resilient to cyber attacks, privacy-enabled and protected ...
				.col-12.col-md-6.col-lg-4
					.news__item
						a(href="#").news__item-img
							img(src="images/news-img-2.jpg", alt="" srcset="images/news-img-2@2x.jpg 2x")
						.news__item-main
							.news__item-bar
								a(href="#").news-category Whitepaper
								span.news__item-date 10 March 2021
							h4
								a(href="#") SDN-microSENSE project kick-off meeting in Seville, Spain
							.news__item-desc
								p CyberLens participated to the kick-off meeting of SDN-microSENSE project held in Seville on 4-5 June 2019, being actively engaged to the development of a secure, resilient to cyber attacks, privacy-enabled and protected ...
				.col-12.col-md-6.col-lg-4
					.news__item
						a(href="#").news__item-img
							img(src="images/news-img-3.jpg", alt="" srcset="images/news-img-3@2x.jpg 2x")
						.news__item-main
							.news__item-bar
								a(href="#").news-category Whitepaper
								span.news__item-date 10 March 2021
							h4
								a(href="#") The Road to Autonomous Security
							.news__item-desc
								p CyberLens participated to the kick-off meeting of SDN-microSENSE project held in Seville on 4-5 June 2019, being actively engaged to the development of a secure, resilient to cyber attacks, privacy-enabled and protected ...
				.col-12.col-md-6.col-lg-4
					.news__item
						a(href="#").news__item-img
							img(src="images/news-img-1.jpg", alt="" srcset="images/news-img-1@2x.jpg 2x")
						.news__item-main
							.news__item-bar
								a(href="#").news-category Whitepaper
								span.news__item-date 10 March 2021
							h4
								a(href="#") SDN-microSENSE project kick-off meeting in Seville, Spain
							.news__item-desc
								p CyberLens participated to the kick-off meeting of SDN-microSENSE project held in Seville on 4-5 June 2019, being actively engaged to the development of a secure, resilient to cyber attacks, privacy-enabled and protected ...
				.col-12.col-md-6.col-lg-4
					.news__item
						a(href="#").news__item-img
							img(src="images/news-img-2.jpg", alt="" srcset="images/news-img-2@2x.jpg 2x")
						.news__item-main
							.news__item-bar
								a(href="#").news-category Whitepaper
								span.news__item-date 10 March 2021
							h4
								a(href="#") SDN-microSENSE project kick-off meeting in Seville, Spain
							.news__item-desc
								p CyberLens participated to the kick-off meeting of SDN-microSENSE project held in Seville on 4-5 June 2019, being actively engaged to the development of a secure, resilient to cyber attacks, privacy-enabled and protected ...
				.col-12.col-md-6.col-lg-4
					.news__item
						a(href="#").news__item-img
							img(src="images/news-img-3.jpg", alt="" srcset="images/news-img-3@2x.jpg 2x")
						.news__item-main
							.news__item-bar
								a(href="#").news-category Whitepaper
								span.news__item-date 10 March 2021
							h4
								a(href="#") The Road to Autonomous Security
							.news__item-desc
								p CyberLens participated to the kick-off meeting of SDN-microSENSE project held in Seville on 4-5 June 2019, being actively engaged to the development of a secure, resilient to cyber attacks, privacy-enabled and protected ...
				.col-12.col-md-6.col-lg-4
					.news__item
						a(href="#").news__item-img
							img(src="images/news-img-1.jpg", alt="" srcset="images/news-img-1@2x.jpg 2x")
						.news__item-main
							.news__item-bar
								a(href="#").news-category Whitepaper
								span.news__item-date 10 March 2021
							h4
								a(href="#") SDN-microSENSE project kick-off meeting in Seville, Spain
							.news__item-desc
								p CyberLens participated to the kick-off meeting of SDN-microSENSE project held in Seville on 4-5 June 2019, being actively engaged to the development of a secure, resilient to cyber attacks, privacy-enabled and protected ...
				.col-12.col-md-6.col-lg-4
					.news__item
						a(href="#").news__item-img
							img(src="images/news-img-2.jpg", alt="" srcset="images/news-img-2@2x.jpg 2x")
						.news__item-main
							.news__item-bar
								a(href="#").news-category Whitepaper
								span.news__item-date 10 March 2021
							h4
								a(href="#") SDN-microSENSE project kick-off meeting in Seville, Spain
							.news__item-desc
								p CyberLens participated to the kick-off meeting of SDN-microSENSE project held in Seville on 4-5 June 2019, being actively engaged to the development of a secure, resilient to cyber attacks, privacy-enabled and protected ...
				.col-12.col-md-6.col-lg-4
					.news__item
						a(href="#").news__item-img
							img(src="images/news-img-3.jpg", alt="" srcset="images/news-img-3@2x.jpg 2x")
						.news__item-main
							.news__item-bar
								a(href="#").news-category Whitepaper
								span.news__item-date 10 March 2021
							h4
								a(href="#") The Road to Autonomous Security
							.news__item-desc
								p CyberLens participated to the kick-off meeting of SDN-microSENSE project held in Seville on 4-5 June 2019, being actively engaged to the development of a secure, resilient to cyber attacks, privacy-enabled and protected ...

			.pagination
				a(href="#").pagination__link
					+sprite('arrow-left')
				a(href="#").pagination__link.current 1
				a(href="#").pagination__link 2
				span.pagination__dots ...
				a(href="#").pagination__link.is-md-visible 14
				a(href="#").pagination__link 15
				a(href="#").pagination__link
					+sprite('arrow-right')