// .icon {
// 	display: inline-block;
// 	width: 1em;
// 	height: 1em;
// 	fill: currentColor;
// }

.arrow-down {
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 6px;
}
.arrow-left {
	display: inline-block;
	vertical-align: middle;
	width: 6px;
	height: 10px;
}
.arrow-right {
	display: inline-block;
	vertical-align: middle;
	width: 6px;
	height: 10px;
}
.arrow-right-circle {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
}
.arrow-right-circle-orange {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
}
.check {
	display: inline-block;
	vertical-align: middle;
	width: 12px;
	height: 10px;
}
.close {
	display: inline-block;
	vertical-align: middle;
	width: 14px;
	height: 14px;
}
.done {
	display: inline-block;
	vertical-align: middle;
	width: 12px;
	height: 10px;
}
.early-adopters-and-pilot-clients {
	display: inline-block;
	vertical-align: middle;
	width: 24px;
	height: 24px;
}
.facebook {
	display: inline-block;
	vertical-align: middle;
	width: 18px;
	height: 18px;
}
.integration {
	display: inline-block;
	vertical-align: middle;
	width: 24px;
	height: 24px;
}
.link-open {
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 16px;
}
.linkedin {
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 17px;
}
.play {
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	height: 32px;
}
.reduce-the-attack {
	display: inline-block;
	vertical-align: middle;
	width: 24px;
	height: 24px;
}
.reduce-the-cost {
	display: inline-block;
	vertical-align: middle;
	width: 24px;
	height: 24px;
}
.rss {
	display: inline-block;
	vertical-align: middle;
	width: 15px;
	height: 16px;
}
.search {
	display: inline-block;
	vertical-align: middle;
	width: 24px;
	height: 24px;
}
.twitter {
	display: inline-block;
	vertical-align: middle;
	width: 19px;
	height: 16px;
}
.youtube {
	display: inline-block;
	vertical-align: middle;
	width: 21px;
	height: 15px;
}

